<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>

</head>
<body>
	<form method="post">
		<p><label>用户名：</label><input type="text" name="name"></p>
		<p><label>密码：</label><input type="password" name="password"></p>
		<input type="submit" value="登录" />
	</form>
</body>
</html>