<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<%- include header %>
	<form method="post">
		<p><label>用户名：</label><input type="text" name="name"></p>
		<p><label>密码：</label><input type="password" name="password"></p>
		<input type="submit" value="登录" />
	</form>
	<%- include footer %>
</body>
</html>