	<%- include header %>
	<form method="post">
		<p>标题: <input type="text" name="title"></p>
		<p>标签: <input type="text" name="tag1"><input type="text" name="tag2"><input type="text" name="tag3"></p>
		<p>正文: <textarea name="post" rows="20" cols="100"></textarea></p>
		<input type="submit" value="发表" />
	</form>
	<%- include footer %>